{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4 text-center">
  <h2>Foco Total - Aplicação para apoio à concentração nos estudos</h2>

  <div class="alert alert-success mt-4">
    Bem-vindo(a), {{ user.first_name }}!
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{% static 'img/pomodoro.png' %}" class="card-img-top" alt="Pomodoro">
        <div class="card-body">
          <h5 class="card-title">Sessão Pomodoro</h5>
          <a href="{% url 'pomodoro:listar' %}" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{% static 'img/cronograma.png' %}" class="card-img-top" alt="Cronograma">
        <div class="card-body">
          <h5 class="card-title">Cronograma</h5>
          <a href="{% url 'cronograma:listar' %}" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{% static 'img/tarefas.png' %}" class="card-img-top" alt="Tarefas">
        <div class="card-body">
          <h5 class="card-title">Minhas Tarefas</h5>
          <a href="{% url 'tarefas:listar' %}" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{% static 'img/recompensas.png' %}" class="card-img-top" alt="Recompensas">
        <div class="card-body">
          <h5 class="card-title">Recompensas</h5>
          <a href="{% url 'recompensas:listar' %}" class="btn btn-primary">Ver Prêmios</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{% static 'img/bloqueio.png' %}" class="card-img-top" alt="Bloqueio">
        <div class="card-body">
          <h5 class="card-title">Bloqueio de Notificações</h5>
          <a href="{% url 'bloqueio:listar' %}" class="btn btn-primary">Gerenciar</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="mt-5">
    <p class="text-muted">Desenvolvido por Zé Neto - IFSULDEMINAS</p>
  </footer>
</div>
{% endblock %}
